.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: calc(50vh + 8em);

  .contact-info {
    padding: 1.5em;
    position: relative;
    background-color: var(--lightBlue);

    .weird-horizontal-line {
      margin: 1.25em 0 2.5em 0;
      width: 35%;
      border-bottom: 1px solid #FFFFFF;
    }

    p {
      color: white;
      max-width: 85%;
      letter-spacing: 0.02em;
      font-weight: 400;
      line-height: 1.25;

      b {
        color: white;
      }
    }

    &>p {
      margin-top: 2em;
    }

    .address {
      position: absolute;
      width: 80%;
      left: 1.5em;
      bottom: 1.5em;
    }
  }

  .contact-form {
    position: relative;
    padding: 5% 15%;

    input {
      height: 2em;
      font-size: 1.25em;
      outline: none;
      display: block;
      margin-top: 1.75em;

      //appearance of input 
      border: none;
      border-bottom: 1px solid var(--lightBlue);
      width: 100%;
    }

    input:last-of-type {
      margin-top: 4em;
    }
    h2 {
      color: var(--lightBlue);
    }
  }
}
@media only screen and (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: calc(50vh+2em) 1fr; 
  }
}
@media only screen and (min-width: 801px) and (max-width: 950px) {
  .contact {
    grid-template-rows: calc(60vh+6em) 1fr;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1300px) {
  .contact {
    grid-template-rows: calc(50vh + 6em) 1fr;
  }
}