.contact-me-btns {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
  font-size: 1em;

  .contact-me-btns__text {
    margin: 0 0 1em 0;
  }

  .contact-me-btns__btns {
    margin: auto;
    display: inline-block;
  }

  h1 {
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 0.02em;
  }
}
.btn {
  cursor: pointer;
  outline: none;
  margin: 2em 1em;
  font-size: 1.25em;
  letter-spacing: 0.02em;
  font-weight: 600;
  border-radius: 12.5%/50%;
  padding: 0.75em 2.5em;
  background-color: white;
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
  transition: color, border, background-color 0.6s linear;
}
.btn:focus {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.btn-blue:focus {
  background-color: var(--yellow);
  color: white;
}
.btn-blue {
  padding: 0.85em 2.64em;
  border: none !important;
  color: white;
  background-color: var(--lightBlue);
}



@media only screen and (max-width: 600px) {
  .contact-me-btns__btns {
    button {
      
    }
  }

}