.header {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}

.header__cover-photo {
  background: url(header_bg.jpg);
  background-size: cover; //100% auto;
  background-position: center top; //optymalize photo
  background-repeat: no-repeat;
  position: absolute;
  filter: opacity(0.4); //change it
  z-index: -10;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__cover-blue-part {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
  background-color: var(--lightBlue);
  width: 40%;
  height: 100%;
}

.header__welcome-text {
  margin: 10% 8%;
  font-size: 1.75em;
  letter-spacing: 0.02em;

  h1 {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0.25em;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 0.25em;
  }

  h3 {
    font-weight: normal;
    line-height: 1.5em;
    font-size: 0.8em;
  }

  .header__name {
    color: var(--lightBlue);
  }
}

.header__nav {
  position: absolute;
  top: 5%;
  right: 1.5%;

  width: 32.5vw;
}

ul {
  list-style: none;
  padding: 0;
}

.invisible-cover-of-header {
  width: 100vw;
  height: 100vh;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;
  .flex-gap {
    min-width: 3vw;
    height: 2px;
  }

  // padding: 0;
  li {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: 0.02em;
  }
}

.header__icon-wrapper {
  z-index: 100;
  position: absolute;
  left: 45%;
  top: 17.5vh;
  width: 30vw;
  height: 30vw;
  background-color: transparent;

  .header__icon {
    width: 75%;
    height: 75%;
    border-radius: 50% 50%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    background: url(ongo_gablogian.jpg) no-repeat center;
    background-size: cover;
  }
}

.header__community {
  width: 20%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2.5% 4%;

  h3 {
    color: #fff;
    font-weight: normal;
    display: inline-block;
    padding: 0.1em;
    padding-left: 2em;
    border-bottom: 2px solid white;
  }

  .header__link-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    background-color: #fff;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50% 50%;

    margin: 5%;
  }

  li.header__github {
    background-color: transparent;

    i {
      transform: scale(1.7);
      color: white;
    }
  }

  li:last-of-type {
    margin-right: 0;
  }

  a {
    width: fit-content;
    height: auto;
  }

  i {
    color: var(--lightBlue);
    display: inline-block;
    transform: scale(1.1) translateY(1px);
  }
  
  li {
    display: inline-block;
  }
}




@media only screen and (min-width: 801px) and (max-width: 1300px) {
  .header__welcome-text {
    max-width: 40vw;
    text-align: center;
    font-size: 2em;
  }
  .header__icon-wrapper {
    transform: translateY(200px);
    position: absolute;
    right: 0;
    top: 00%;
    .header__icon {
      width: calc(100% + 4em);
      height: calc(100% + 4em);
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    width: 100vw;
    // height: 100vh;
    .header__cover-blue-part {
      display: none;
    }
    .header__welcome-text {
      margin-top: calc(35vw + 10vh);
      text-align: center;
      h1 {
        font-size: calc(9vw + 1.5vh);
        margin: 2vh 0;
      }
      h2 {
        font-size: calc(7vw + 1vh);
        margin: 3vh 0;
      }
      h3 {
        font-size: calc(5vw + 1vh);
        margin: 2vh 0;
      }
    }
    .header__nav-list {
      display: none;
    }
    .header__community {
      display: none;
    }
    .header__icon-wrapper {
      text-align: center;
      width: 35vw;
      height: 35vw;
      top: 10vh;
      left: calc(50% - 17.5vw);
      .header__icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
