.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: 400px;

  .project {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .project-photo {
      height: 75%;
      width: auto;
      overflow: hidden;
      position: relative;
      img {

        width: 100%;
        height: fit-content;
      }
      .photo-cover {
        cursor: pointer;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        transition: all 1.5s;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: bold;
      }
    }
    .project-photo:hover .photo-cover {
      opacity: 1;
    }

    .project-text {
      padding: 2% 5%;

      h3 {
        font-size: 1.25em;
        letter-spacing: 0.05em;
        line-height: 0.9;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        color: var(--lightBlue);
      }

      p {
        margin-top: 2.5%;
        color: var(--lightGray);
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .portfolio-grid {
    grid-template-columns: 1fr; 
    grid-row-gap: 4vh;
    .project {
      width: 80%;
      margin: 0 auto;
      padding: 1em 0;
    }
  }
}
@media only screen and (min-width: 801px) and (max-width: 1300px) {
  .portfolio-grid {
    
  }
}