// add color variables  
:root {
  --lightBlue: #2C88CB;
  --lightGray: #A0A0A0;
  --html: 75%;
  --css: 65%;
  --js: 84%;
  --communication: 75%;
  --teamwork: 80%;
  --flexibility: 95%;
}

body {
  overflow-x: hidden;
}

// Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//global fonts
* {
  color: #222222;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

.header {

  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.header__cover-photo {
  background: url('https://blog.galvanize.com/wp-content/uploads/2018/06/goran-ivos-422398-unsplash.jpg');
  background-size: cover; //100% auto;
  background-position: center top; //optymalize photo
  background-repeat: no-repeat;
  position: absolute;
  filter: opacity(0.4); //change it
  z-index: -10;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__cover-blue-part {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
  background-color: var(--lightBlue);
  width: 40%;
  height: 100%;
}

.header__welcome-text {
  margin: 10% 8%;
  font-size: 1.75em;
  letter-spacing: 0.02em;

  h1 {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0.25em;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 0.25em;
  }

  h3 {
    font-weight: normal;
    line-height: 1.5em;
    font-size: 0.8em;
  }

  .header__name {
    color: var(--lightBlue);
  }
}

.header__nav {
  position: absolute;
  top: 5%;
  right: 1.5%;

  width: 32.5vw;
}

ul {
  list-style: none;
  padding: 0;
}

.invisible-cover-of-header {
  width: 100vw;
  height: 100vh;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;

  // padding: 0;
  li {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.02em;
  }
}

.header__icon-wrapper {
  position: absolute;
  left: 45%;
  top: 17.5vh;
  width: 30vw;
  height: 30vw;
  background-color: transparent;

  .header__icon {
    width: 75%;
    height: 75%;
    border-radius: 50% 50%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    background: url("https://www.smalldogplace.com/images/what-breed-is-this-21889021.jpg") no-repeat center;
    background-size: cover;
  }
}

.header__community {
  width: 20%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2.5% 4%;

  h3 {
    color: #fff;
    font-weight: normal;
    display: inline-block;
    padding: 0.1em;
    border-bottom: 2px solid white;
    letter-spacing: 0.02em;
  }

  .header__link-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    background-color: #fff;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50% 50%;

    margin: 5%;
  }

  li.header__github {
    background-color: transparent;

    i {
      transform: scale(1.7);
      color: white;
    }
  }

  li:last-of-type {
    margin-right: 0;
  }

  a {
    width: fit-content;
    height: auto;
  }

  i {
    color: var(--lightBlue);
    display: inline-block;
    transform: scale(1.1) translateY(1px);
  }

  li {
    display: inline-block;
  }
}

.btn-round {
  border-radius: 15% / 50%;
}

//
//
//
.btn {
  outline: none;
  margin: 2em 1em;
  border-radius: 12.5%/50%;
  padding: 0.5em 2em;
  background-color: white;
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
}

.btn-blue {
  color: white;
  background-color: var(--lightBlue);
}

.contact-me {

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2.5em;
  font-size: 1em;

  .contact-me__text {
    margin: 0 0 1em 0;
  }

  .contact-me__btns {
    margin: auto;
    display: inline-block;
  }

  h1 {
    margin: auto;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.02em;
  }
}

.gray-cover {
  margin: 1.5em 0;
  width: 100%;
  padding: 2em 0;
  background-color: #F99999; //#F9F9F9;

  h2 {
    text-align: center;
    margin: 1em 0 0.5em 0;
  }
  section {
    margin: auto;
  }
}

#about-me {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2% 5%;
  &>* {
    padding: 1em;
    display: inline-block;
  }
  .stats {
    font-weight: 500;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
  }
  .summary {
    letter-spacing: 0.02em;
    border-left: 1px solid var(--lightBlue);
    p {
      line-height: 1.42;
    }
  }
}

.text-blue {
  color: var(--lightBlue);
}






// 
//  
// 


.about-me__text {
  border-left: 1px solid var(--lightBlue);
}

.f-center {
  display: flex;
  justify-content: center;
}
.white-cover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  background-color: white;
}
section {
  width: 72%;
}

// 
// 
// SKILLS 
// 
#skills {
  
  // skills parameters
  // class::before is to emulate knowledge level of subject (gradient blue bar)
  // class::after is to create blue circle at the end of bar 
  .line {
    &::before {
      content: '';
      width: 50%;
      position: absolute;
      height: 100%;
      background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
      border-radius: 0.25em/50%;      
    }
    &::after {
      content: '';
      position: absolute;
      transform: translateX(-4px);
      top: -4px;
      width: 16px;
      height: 16px;
      background: #62BDFF;
      border-radius: 50%;
    }
    &.css::before {
      width: var(--css);
    }
    &.css::after {
      left: var(--css);
    }
    &.html::before {
      width: var(--html);
    }
    &.html::after {
      left: var(--html);
    }
    &.js::before {
      width: var(--js);
    }
    &.js::after {
      left: var(--js);
    }
    &.communication::before {
      width: var(--communication);
    }
    &.communication::after {
      left: var(--communication);
    }
    &.teamwork::before {
      width: var(--teamwork);
    }
    &.teamwork::after {
      left: var(--teamwork);
    }
    &.flexibility::before {
      width: var(--flexibility);
    }
    &.flexibility::after {
      left: var(--flexibility);
    }
  }
  section {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between; 
  }
  section > div {
    width: 48.5%;
  }
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .line {
    width: 100%;
    height: 0.5em;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.25em/50%;
    position: relative;
  }
  .skills-box {
    margin: 2em;
    &>* {
      margin: 0.5em;
    }
  }
}



// 
// Portfolio  
// 

#portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: 400px;
  .project {
    width: 100%;
    height: 100%;
    .project-photo {
      height: 75%;
      width: auto;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    } 
    .project-text {
      padding: 2% 5%;
      h3 {
        font-size: 1.25em;
        letter-spacing: 0.05em;
        line-height: 0.9;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: var(--lightBlue);
      }
      p {
        margin-top: 2.5%;
        color: var(--lightGray);
      }
    }
  }
}