:root {
  // add color variables  
  --lightBlue: #2C88CB;
  --lightGray: #A0A0A0;
  --darkerWhite: #F9F9F9;

  // skill bar levels 
  --html: 75%;
  --css: 65%;
  --js: 84%;
  --communication: 75%;
  --teamwork: 80%;
  --flexibility: 95%;
}
@import 'header';
@import 'contact-me-btns';
@import 'about-me';
@import 'skills';
@import 'portfolio';
@import 'contact';
@import 'footer';
// Ubuntu font
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
  overflow-x: hidden;
}
* {
  // don't want to mind about default values 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // global fonts
  color: #222222;
  font-family: 'Ubuntu', sans-serif;
}

// all objects' container
.container {
  width: 100vw;
}

.gray-cover {
  margin: 1.5em 0;
  width: 100%;
  padding: 2em 0;
  background-color: var(--darkerWhite);

  h2 {
    text-align: center;
    margin: 1em 0 0.5em 0;
  }

  section {
    margin: auto;
  }
}

.text-blue {
  color: var(--lightBlue);
}

.about-me__text {
  border-left: 1px solid var(--lightBlue);
}

.white-cover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  background-color: white;
}

section {
  width: 72%;
}

section {
  margin: auto;
}
